name: Test workload reusable workflow

on:
  workflow_call:
    inputs:
      template:
        required: true
        type: string
      path:
        type: string
      source:
        type: string

jobs:
  test-workload:
    strategy:
      matrix:
        os: [macos, ubuntu, windows]
        dotnet: [
          { version: 6.0.x, quality: ga },
          { version: 7.0.x, quality: ga },
          # { version: 8.0.x, quality: preview } #- error UXAML0001: Invalid URI: The URI is empty. 
        ]
        
    name: ${{ matrix.os }}/${{ matrix.dotnet.version }}/${{ matrix.dotnet.quality }}/${{ inputs.source == '' && 'nuget' || 'local' }}
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: "Checkout"
        if: inputs.source != ''
        uses: actions/checkout@v4

      - name: "Setup dotnet"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet.version }}
          dotnet-quality: ${{ matrix.dotnet.quality }}

      - name: "Setup MSBuild"
        if: matrix.os == 'windows'
        uses: microsoft/setup-msbuild@v1.1

      - name: "Build local packages"
        if: inputs.source != ''
        run: dotnet build ${{ inputs.path }} --configuration Release

      - name: "Download workload-install on Windows"
        if: matrix.os == 'windows'
        run: Invoke-WebRequest 'https://raw.githubusercontent.com/${{ github.repository }}/main/scripts/workload-install.ps1' -OutFile 'workload-install.ps1'
      - name: "Install workload from local packages on Windows"
        if: inputs.source != '' && matrix.os == 'windows'
        run: ./workload-install.ps1 -s ${{ inputs.source }}
      - name: "Install workload from NuGet on Windows"
        if: inputs.source == '' && matrix.os == 'windows'
        run: ./workload-install.ps1

      - name: "Install workload from local packages on Linux/macOS"
        if: inputs.source != '' && matrix.os != 'windows'
        run: curl -sSL https://raw.githubusercontent.com/${{ github.repository }}/main/scripts/workload-install.sh | bash -s -- -s ${{ inputs.source }}
      - name: "Install workload from NuGet on Linux/macOS"
        if: inputs.source == '' && matrix.os != 'windows'
        run: curl -sSL https://raw.githubusercontent.com/${{ github.repository }}/main/scripts/workload-install.sh | sudo bash

      - name: "Create new project from template"
        run: dotnet new ${{ inputs.template }} --output test

      - name: "Build new project using dotnet"
        run: dotnet build test

      - name: "Create new project from template to test MSBuild"
        if: matrix.os == 'windows'
        run: dotnet new ${{ inputs.template }} --output test-msbuild

      # net6/net7 - Error: D:\a\Uno.Sdk\Uno.Sdk\test-msbuild\Uno.UI.SourceGenerators\Uno.UI.SourceGenerators.XamlGenerator.XamlCodeGenerator\MainView_aabaadfc0f1dee992664b93ca97e20a4.cs(26,11): error CS8802: Only one compilation unit can have top-level statements. [D:\a\Uno.Sdk\Uno.Sdk\test-msbuild\test-msbuild.csproj::TargetFramework=net7.0-linux]
      - name: "Build new project using MSBuild"
        if: matrix.os == 'windows' && matrix.dotnet.quality != 'preview'
        run: msbuild /restore test-msbuild